* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

p {
    font-size: 1rem;
    color: #fff;
    text-shadow: 0 0 4px black;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

img {
    width: 4rem;
    display: block;
    margin: auto;
}